.main {
  @apply flex flex-col flex-1;

  .header {
    @apply flex;
  }

  .content {
    @apply w-full flex flex-wrap;

    .repoCard {
      @apply flex w-1/4;

      &::before {
        content: '';
        display: flex;
        width: 4px;
        height: 50%;
        background-color: red;
      }

      &::before {
        content: '';
        display: flex;
        width: 4px;
        height: 50%;
        background-color: green;
      }

      .repoCardBody {
        @apply h-56 overflow-y-auto;
      }
    }
  }
}
