@tailwind base;

@tailwind components;

@tailwind utilities;

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  -webkit-font-smoothing: antialiased;
  height: 100%;
}

body {
  margin: 0;
  min-height: 100vh;
  padding: 0;
}

img {
  height: auto;
  max-width: 100%;
}

a {
  @apply underline text-indigo-700 dark:text-indigo-500;
}

button {
  appearance: none;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  line-height: 1;
  padding: 0;
}

::-webkit-scrollbar {
  @apply w-2;
}

::-webkit-scrollbar-track {
  @apply bg-transparent;
}

::-webkit-scrollbar-thumb {
  @apply bg-gray-400 rounded-lg;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-gray-500;
}

:global(.dark) ::-webkit-scrollbar-thumb {
  @apply bg-gray-700;
}

:global(.dark) ::-webkit-scrollbar-thumb:hover {
  @apply bg-gray-600;
}
